body {
  font-family: Montserrat; 			

  background: #f4f4f4;
  text-align: center;
  margin: 0;
}


.card h2 {	
font-style:italic;
font-size:18px;			border-bottom:1px solid lightcoral; /* modello macchina */
  margin-bottom: 25px;
}



.logo {
  text-align: center;
  margin: 20px;

}

.img-box {  				 border:0px solid red; /* modello macchina */
  width: 100%; height:250px;
  overflow: hidden;   /* taglia le parti in eccesso */
  border-radius: 8px;
  display: flex;

  align-items: center;
  margin-bottom:20px;
  justify-content: center;
}

.img-box img {  
  width: 100%;
  height: 100%;
  object-fit: contain;  /* mantiene proporzioni senza deformare */
}

.logo img {
  width: 30%;  /* puoi cambiare dimensione */
  height: auto;
}

/* CONTENITORE GENERALE CENTRATO */
.container,
.cards {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  
  
  
   display: flex;
  flex-direction: column;
	
  
  
}

/* Tablet e smartphone */
@media (max-width: 1024px) {
  .container {
    width: 95%;
    font-size:18px;
    
    display:flex;
    flex-direction: column;
    
    
    
  }
}

/* Tablet e smartphone */
@media (max-width: 1024px) {
  .cards {
    
    
    
    display:flex;
    flex-direction: column;
    
    
    
    width: 95%;
  }
}
		
/* TITOLI */
h1 {
  margin: 20px; 
}

/* SELECT */
.container {  			
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
  margin-top:15px;   
}

.container select {
  flex: 1;
  padding: 10px 35px 10px 10px; /* spazio a destra per freccia */
  font-size: 16px;
  text-align: center;
  text-align-last: center;

  border: 1px solid #ccc;
  border-radius: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

font-style:bold;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='black' d='M5 7l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 8px;
}




/* SINGOLA CARD */
.card { 			border:0px solid red; /* contenitore schede */
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
 border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  box-sizing: border-box; 
}

/* IMMAGINI */
img {
  width: 100%;


  border-radius: 8px;
}

/* LISTE */
h2 {
  margin: 10px 0;
}


h3 {font-size:14px;padding-left:10px;   color:steelblue; text-align:left;
  margin: 0px; 					border:0px solid red; /* caratteristiche vantaggi */
}


ul {
  text-align: left;	
  margin:3px;	
  margin-bottom:20px;		 		border:1px solid #ccc; /* caratteristiche vantaggi */
  border-radius:8px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding:10px 10px 10px 30px;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
  .container,
  .cards {
    width: 95%;
    flex-direction: column;
  }
}
